body{
    text-align: center;
    margin-top: 50px;

}
input{
    width: 15%;
    margin: auto;
    padding: 5px;
    outline: none;
}

button{
    width: 6%;
    margin:auto 4px;
    padding: 3px;
    text-transform: capitalize;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.829);
}